<html>

<link rel="stylesheet" href="/about.css" media="screen"> 

<h1 class="main-title"> About Health is Wealth </h1>
    
    <section id="content">
        <div class="background row">
            <p>
                Health is Wealth was designed with college students in mind. During me collegiate years, maintaining a healthy lifestyle on a low budget was always a goal. I struggled to find new meals that met both my health goals and my budget. This resulted in all my meals consisting of brown rice, chicken breasts, and broccoli. Eventually, I got sick of these meals and would look on the internet for recipe ideas; however, most of these recipe websites had long paragraphs explaining the story behind the recipe and little to no information on its health benefits and price. This sparked the idea to create Health is Wealth. 
            </p>
        </div>


        <div class="main row">
            <p>
                <b> The idea of Health is Wealth is to cut out all the unnecessary information about the recipe and only show what is most imporant (ingredients, health grade, price, etc.)</b>. Using what I have learned in my Computer Science courses and the use of the Spoonacular API, I was able to create Health is Wealth. Only the most important information is present which allows its users to easily identify how healthy a recipe is and how much it will cost them. 
                
                <br>

                Health is Wealth also provides an "Advanced Search" feature which allows its users to find recipes that match their health goals and diets. Users can filter out recipes based on the minimum or maximum ammount of carbs the recipe can have, find recipes that follow vegan restrictions, type of food it is, and much more.
            </p>
        </div>

        <div class="conclude row">
            <p>
                Living a healthy lifestyle is essential to living a happy life. And the most important (and toughest) aspect of living a healthy lifestyle is feeding your body the right foods. Health is Wealth has always been a personal project of mine because I have lived the struggle of finding the right foods to stay healthy at a cheap price. I hope Health is Wealth is able to change many peoples lives and help them achieve their health goals. 

                <br>
            </p>
        </div>

        <div class="motto"> 
        STAYING ACTIVE, EATING WELL, BEING HYDRATED, FREE OF DISEASES, ALL WHILE BEING MENTALLY STRONG IS PRICELESS. <br> HEALTH IS WEALTH. </div>

        

    </section>

</html>