<html>
    <link rel="stylesheet" href="/error.css" media="screen"> 
    
    <section class="error-container">
        <h1 class="main-title">API ERROR</h1>
        <p> This website uses the API "Spoonacular" to get recipe data. Each API request requires points.
        <br>
        <br>
        Unforunatly, I am on the free plan, which only allows for 150 points a day. Please try again another time. Sorry for the inconvenience. </p>
    </section>
</html>
